@import "tailwindcss";

@theme {
  --color-primary: #3055ba;
  --color-secondary: #24c5e5;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-dark: #1f2937;

  --font-sans: Inter, system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-white text-black;
  }
  h1 {
    /* @apply text-3xl font-bold; */
  }
}
